<h1 class="text-xl font-bold mb-4">Dashboard</h1>
<p class="mb-4">Your categories:</p>
<ul class="list-disc pl-6">
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
